<div class="card bg-dark text-white">
    <div class="card-header">Crear Venta</div>
    <div class="card-body">
        <form ngNativeValidate (ngSubmit)="createVent()">
            <div class="form-group row">
                <label for="" class="col-form-label col-sm-2">IdArticulo</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]= "venta.id_articulo" name="id_articulo" required>
                </div>
            </div>

            <div class="form-group row">
                <label for="" class="col-form-label col-sm-2">Cantidad Vendida</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]= "venta.cantidadVendida" name="cantidadVendida" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-form-label col-sm-2">Nombre Vendedor</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]= "venta.nombreVendedor" name="nombreVendedor" required>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <button class="btn btn-primary" role="button">Crear</button>
                </div>
            </div>  

        </form>
    </div>


</div>
